<!DOCTYPE html>
<html>
<head>
  <title>Solomon's Wallet!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p>This is a Solomon Productions </p>
</body>
</html>
